/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

.topnav {
  margin-bottom: 3rem;
}

body {
    font-size: 1rem;
  }

  form {
    margin-top:1rem;
  }

  .quiz-container {
    
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .question {
    
    margin-bottom: 1rem;
    background-color: #f4eeee;
    padding:20px;
  }

  .question:nth-child(odd) {
    margin-right:5%;
  }

  .question p {
    font-weight: bold;
  }
  
  .answers {
    margin-bottom: 1rem;
  }

  .answers label:not(:first-child) {
    border-top:1px solid #f3c8ed;
  }
  
  label {
    padding:10px 0;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .result {
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
  }
  
  .quiz-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

  